* {
    box-sizing: border-box;
    margin: 0;
}


.nav{
    height: 8vh;
    display: flex;
    background-color: #002400;
    justify-content: space-around;
    align-items: center;

}
.items{
    list-style: none;
    display: flex;
}

.items li{
    letter-spacing: normal;
    padding: 10px ;
}
.items a{
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}


main{

    background-color: #DBD2E0;
    height: 92vh;
    margin: auto;

}

.imagem{
    height: 65vh;
    width: 19.5vw;
    position: relative;
    border-radius: 45px;
    
    
}

.div-imagem{
    background: rgba(39, 59, 9, 0.9);
    border-radius: 45px;
    height: 67vh;
    width: 21vw;
    left: 15vw;
    top: 22vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}


.texto{
    text-align: center;
    position: absolute;
    font-size: 70px;
    left: 37vw;
    top: 46vh;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
}

@media (max-width:800px){
    .texto{
        text-align: center;
        position: absolute;
        font-size: 42px;
        left: 7vw;
        top: 46vh;
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    .imagem{
        display: none;
    }
    .div-imagem{
        display: none;
    }
}