* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.nav{
    height: 8vh;
    display: flex;
    background-color: #6CCB6A;
    justify-content: space-around;
    align-items: center;

}
.items{
    list-style: none;
    display: flex;
}

.items li{
    letter-spacing: normal;
    padding: 10px ;
}
.items a{
    text-decoration: none;
    color: black;
}


main{

    background-color: rgb(186, 216, 186);
    height: 92vh;
    margin: auto;

}


h1{
    text-align: center;
    vertical-align: middle;
}
