* {
    box-sizing: border-box;
    margin: 0;
}


.nav{
    height: 8vh;
    display: flex;
    background-color: #002400;
    justify-content: space-around;
    align-items: center;

}
.items{
    list-style: none;
    display: flex;
}

.items li{
    letter-spacing: normal;
    padding: 10px ;
}
.items a{
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
}


main{

    background-color: #DBD2E0;
    height: 89.65vh;
    margin: auto;

}

.imagem{
    height: 65vh;
    width: 19.5vw;
    position: relative;
    border-radius: 45px;
    animation: saida 5s forwards;
    
    
}

.div-imagem{
    background: rgba(39, 59, 9, 0.9);
    border-radius: 45px;
    height: 67vh;
    width: 21vw;
    left: 15vw;
    top: 22vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: saida 5s forwards;

}


.texto{
    text-align: center;
    position: absolute;
    font-size: 70px;
    left: 37vw;
    top: 46vh;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
    animation: textoh1 2s forwards 2s;

}

.texto-para{
    text-align: initial;
    position: absolute;
    font-size: 34px;
    left: 37vw;
    top: 59.5vh;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: normal;
    animation: texto 2s forwards 2s;

}
footer{
    display: flex;
    background-color: #DBD2E0;
 
}
footer a {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: right;
    margin-left: 5px;
}
footer p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-left: 5px;
}
@media (max-width:800px){
    .texto{
        text-align: center;
        position: absolute;
        font-size: 38px;
        left: 7vw;
        top: 46vh;
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: normal;
        animation:none;
        ;

    }
    .texto-para{
        text-align: left;
        position: absolute;
        font-size: 21px;
        left: 7vw;
        top: 58vh;
        font-family: 'Montserrat Alternates', sans-serif;
        font-style: normal;
        font-weight: normal;
        animation: none;
        color: rgba(43, 75, 12);


    }
    

    .imagem{
        display: none;
    }
    .div-imagem{
        display: none;
    }
}

@keyframes saida{
    from{
        left: 15vw;
        
    }
    to{
        left: 1vw;
        
    }
}
@keyframes texto{
    from{
        font-size: 34px;
        left: 37vw;
        top: 59.5vh;
    
    }
    to{
        font-size: 48px;
        left: 24vw;
        top: 30vh;
        background-color: rgba(43, 75, 12, 0.603);

    }
}
@keyframes textoh1{
    from{
        font-size: 70px;
        left: 37vw;
        top: 46vh;
        
    }
    to{
        font-size: 48px;
        left: 24vw;
        top: 20vh;

    }
}