
<div class="pagination" style="padding-left: 105px; ">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a class="page-link" href="?page=1">1</a>
            </li>


            <li class="page-item">
                <a class="page-link" href="?page=2">2</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="?page=3">3</a>
            </li>

        </ul>
    </nav>
</div>