{% extends 'base.html'%}

{%block nav%}
    
{%block btnlogout%}
<a class="navbar-brand" style="text-shadow: 2px;" href="{%url 'logout'%}">Logout</a>
{%endblock%}

{%endblock%}

{%block conteudo %}
<style>
    .card-group{
        display: flex;
    }
    .brutal{
      width: 1;
    }
</style>
<div class="card-group">
    <div class="card bg-light mb-3" style="max-width: 85rem;">
        <div class="card-body">
          <h5 class="card-title">Cadastre um novo contato:</h5>
            <form action="{% url 'adicionar'%}" method="POST">
                {% csrf_token %}
                {% include 'parciais/_messages.html'%}
                <div class="form-group">
                    <label for="none">Nome</label>
                    <input type="text" class="form-control" name="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <label for="sobrenone">Sobrenone</label>
                    <input type="text" class="form-control" name="sobrenome" placeholder="Sobenome">
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" placeholder="(0xx)000000000">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                  <label >Categoria</label>
                  <select class="form-control" name="categoria">
                    <option value="2">Professor</option>
                    <option value="1">Coordenador</option>
                    
                  </select>
                </div>
                  <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>        
        </div>
        <div class="card bg-light mb-3" style="max-width: 85rem;">
          <div class="card-body">
            <h5 class="card-title">Envie um email:</h5>
              <form action="{% url 'enviaemail'%}" method="POST">
                  {% csrf_token %}
                  {% include 'parciais/_messages.html'%}
                  <div class="form-group">
                      <label for="assunto">Assunto</label>
                      <input type="text" class="form-control" name="assunto" placeholder="Assunto">
                  </div>
                  <div class="form-group">
                      <label for="destinatarios">Destinatarios</label>
                      <input type="text" class="form-control" name="destinatarios" placeholder="destinatarios">
                  </div>
  
                  <div class="form-group">
                    <label for="mensagem">Mensagem</label>
                    <textarea name="mensagem" id="mensagem" cols="100" rows="4"></textarea>  
                    </div>
                  <div class="form-group">
                      <label for="file">Arquivos: </label>
                      <input type="file" class="form-control" name="file" aria-describedby="emailHelp" placeholder="Email">
                  </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
              </form>        
          </div>
  
</div>
{%endblock%}