{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda IBCVR</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="nav">
        <img class="img" src="{% static 'img/logo.png'%}" width="100px" alt="">
        <ul class="items">
            <li>
                <a href="{% url 'sobre'%}">Sobre</a>
            </li>
            <li>
                <a href="{% url 'login'%}">Login</a>
            </li>
        </ul>
    </nav>
<main>
    <div class="div-imagem">
        <img class="imagem" src="{% static 'img/imgdiv.png' %}" alt="">
    </div>

    <h1 class="texto">Projeto 
        Agenda</h1>
    
</main>

</body>

</html>