{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda IBCVR</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}"/>
</head>

<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <img id=imagem src="{% static 'img/logo.png'%}" width="100px" alt="">
                </div>
                <ul class="nav-items">
                    <li>
                        <a href="{% url 'sobre'%}">Sobre</a>
                    </li>
                    <li>
                        <a href="{% url 'login'%}">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

<div class="body-image">
    <div class="body-content">
        <h1 class="body-heading">Projeto Agenda IBCVR</h1>
        <h3 class='body-subtitle'>Uma maneira eficiente e tecnologica de guardar
            dados.
        </h3>

    </div>
</div>

</body>
</html>