{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilosobre.css'%}">
    <title>Sobre</title>
</head>
<body>
    <div class="body-image">
        <div class="body-content">
            <h1 class="body-heading">Projeto Agenda IBCVR</h1>
            <p class="body-text">Esse projeto foi criado da parceira do Ministério da Educação
                Cristã e um membro da igreja.
                <!-- TODO PENSAR EM ALGO MELHOR PRA ESCREVE AQUI -->
            </p>
            <h2 class="body-heading">Propósito do Projeto</h2>
            <p class="body-text">Para atender as necessidades se ter um registro eletrônico
            de maior acessibilidade e praticidade.
            <!-- TODO TBM AQUI PRECISA PENSAR MELHOR -->
            </p>
        </div>
    </div>
</body>
</html>