{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilosobre.css'%}">
    <title>Sobre</title>
</head>
<body>
    <div class="body-image">
        <div class="body-content">
            <h1 class="body-heading">Projeto Agenda IBCVR</h1>
            <h2 class="body-heading">Propósito do Projeto</h2>
            <p class="body-text">.
                Esse projeto foi criado da parceira do Ministério da Educação
                Cristã e Lucas Meireles.O projeto trata-se de uma atividade extensionista
                de proporcionar o acesso e manipulação de informações de forma mais pratica
                
            </p>
        </div>
    </div>
</body>
</html>