* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Robot', sans-serif;

}

.nav-container {
    background: #6CCB6A;
    height: 45px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    height: max-content;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul{
    display: flex;
}



.nav-items li {
    list-style: none;
    position: 100px;
    padding-bottom: 20px;
    margin: 15px;
}



.nav-items li a{
    color: black;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.header-container {

    background-image: "icons/inicial.jpg";
    align-items: center;
}



.body-image{
    display: flex;
    background-color: #E5EAFA;
    width: 1366px;
    height: 580px;

}
.body-content{
    position: absolute;
    top: 300px;
    left: 425px;
}
.body-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #093824;
    text-align: center;
}
.body-subtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #747578;
    text-align: center;
}

